{% extends 'login.html' %}
{% load static %}

{% block body %}
    <div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form method="post" class="login100-form validate-form">
                    {% csrf_token %}
					<span class="login100-form-title p-b-43">
						Alta Medico
					</span>
                    <div class="form-group row">
                         <div class="col-sm-6 mb-3 mb-sm-0">
                             <label>Nombre</label>
                             {{ form.first_name }}
                         </div>
                         <div class="col-sm-6">
                             <label>Apellido</label>
                            {{ form.last_name }}
                         </div>
                    </div>
                    <div class="form-group row">
                         <div class="col-sm-6 mb-3 mb-sm-0">
                             <label>Nombre De Usuario</label>
                             {{ form.username }}
                         </div>
                         <div class="col-sm-6">
                             <label>Contraseña</label>
                            {{ form.password1 }}
                         </div>
                    </div>
                    <div class="form-group row">
                         <div class="col-sm-6 mb-3 mb-sm-0">
                             <label>Repetir Contraseña</label>
                             {{ form.password2 }}
                         </div>
                    </div>
                    <div class="form-group row">
                         <div class="col-sm-6 mb-3 mb-sm-0">
                             <label>Especialidad</label>
                             {{ form.especialidad }}
                         </div>
                         <div class="col-sm-6 mb-3 mb-sm-0">
                             <label>Matricula</label>
                             {{ form.matricula }}
                         </div>
                    </div>
                    <p>
                            <a rel="Terminos" href=https://drive.google.com/file/d/1eJo7wFWxMMNgEuoCySoNAH9AL8HAScmz/view?usp=sharing>Ver términos y condiciones</a>
                    </p>

                <p><input id="check" type="checkbox" name="terminos" value="terminos" onclick="CheckButton()"> Acepto los términos y condiciones</p>
                <button disabled="true" id="button-submit" type="submit" class="btn btn-primary btn-user btn-block">
                    Alta Paciente
                </button>
				</form>
				<div class="login100-more" style="background-image: url({% static 'images/nickRiviera.jpg' %});"></div>
			</div>
		</div>
	</div>

    <script>
      function CheckButton() {
          var checked = document.getElementById("check").checked;

          if (checked) {
            document.getElementById("button-submit").disabled = false;
          } else {
            document.getElementById("button-submit").disabled = true;
          }
      }

  </script>


{% endblock %}
