{% extends 'base.html'%}
{% load static %}

{% block body%}
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form">

                    <span class="login100-form-title p-b-43">
                        Crear Cuenta
                    </span>
                    <br>
					<span class="login100-form-title p-b-43">
						Selecciona una de las siguientes opciones
					</span>
                    <a href={% url 'alta_medico'%} class="btn btn-primary btn-user btn-block">
                      Medico
                    </a>
                    <br>
                    <a href={% url 'alta_paciente' %} class="btn btn-primary btn-user btn-block">
                      Paciente
                    </a>
                    <br>
                    <a href={% url 'login' %} class= "btn btn-warning btn-xs btn-flat"><i class="fas fa-sign-in-alt"></i>¿Ya Estas Registrado?Ingresa</a>

                </form>
                <div class="login100-more" style="background-image: url({% static 'images/eleccion.jpg' %});"></div>
        </div>
    </div>
    </div>
{% endblock %}
