{% load static %}
<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/c/CodingLabYT-->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>Pacients </title>
      <link rel="stylesheet" href="{% static 'css/esitlos.css' %}">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="sidebar">
    <div class="logo-details">
      <i class='bx bxl-c-plus-plus icon'></i>
        <div class="logo_name">Hospital General De Springfild</div>
        <i class='bx bx-menu' id="btn" ></i>
    </div>
    <ul class="nav-list">
     {% block sidebar %}
      <li>
        <a href="#">
          <i class='bx bx-grid-alt'></i>
          <span class="links_name">Modificar Datos</span>
        </a>
         <span class="tooltip">Modificar Datos</span>
      </li>
      <li>
       <a href="#">
         <i class='bx bx-user' ></i>
         <span class="links_name">Ver Historia Clinica</span>
       </a>
       <span class="tooltip">Ver Historia Clinica</span>
     </li>
     </li>
     {% endblock %}
    </ul>
  </div>
  <section class="home-section">
      <div class="text">Dashboard</div>
  </section>

  <script src="{% static 'script.js' %}"></script>

</body>
</html>