{% extends 'index_paciente.html' %}

{% block sidebar %}
    <li>
        <a href="#">
          <i class='bx bx-grid-alt'></i>
          <span class="links_name"> Datos</span>
        </a>
         <span class="tooltip">Datos</span>
      </li>
      <li>
       <a href="#">
         <i class='bx bx-user' ></i>
         <span class="links_name"> Clinica</span>
       </a>
       <span class="tooltip">Clinica</span>
     </li>
     </li>

{% endblock %}