{% extends 'base.html' %}
{% load static %}
{% block body %}
    <div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form method="post" class="login100-form validate-form">
                    {% csrf_token %}
                        <span class="login100-form-title p-b-43">
                            Iniciar Sesion
                        </span>
                    <input type="hidden"  name="next" value="{{ next }}">
                <div class="input-group mb-3">
                    <label>Usuario</label>
                    {{ form.username}}
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <label>Contraseña</label>
                    {{ form.password}}
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                    <a href={% url 'elegir_cuenta' %} class= "btn btn-warning btn-xs btn-flat"><i class="fas fa-calendar-check"></i>Registrate</a>
                  <div class="row">
                    <div class="col-lg-12">
                        <br>
                        <button type="submit" class="btn btn-primary btn-block">
                            <i class="fas fa-sign-in-alt"></i> Iniciar sesión
                        </button>
                    </div>
                </div>
				</form>
				<div class="login100-more" style="background-image: url({% static 'images/hospitalGeneralDeSpringfild.jpg' %});"></div>
			</div>
		</div>
	</div>
{% endblock %}
</html>